@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.container{
	display:grid;
   	grid-gap:3px;
	height:100vh;
	grid-template-areas:"header header header header" "body body body body"
	"main main main main" "aside aside aside aside" "section section section section"
    "section-1 section-1 section-1 section-1" "section-2 section-2 section-2 section-2"
	"footer footer footer footer" "footer3 footer3 footer3 footer3"
}
.header{
	height:100px;
	width:100%;
	border:1px solid black;
	background-color: black;
	grid-area:header
}
.box-1{
	width:20%;
	height:100px;
	border:1px solid black;
	float:left;
}
.box-2{
	width:50%;
	height:100px;
	padding:30px;
	border:1px solid black;
	float:left;
}
.box-3{
	width:15%;
	height:100px;
	padding:25px;
	border:1px solid black;
	float:right;
}
.box-1>img{
	width:60%;
	height:70px;
	margin:10px 10px 10px 10px;
}
.box-2>a{
	font-size:26px;
	margin:10px;
	color:orange;
	text-decoration:none;
    
}
.box-3>a{
	font-size:26px;
	margin: 5px;
	color:orange;
	text-decoration:none;   
}
.box-3>img{
	width:40%;
	height:40px;
	margin:5px;
	border-radius:100%;
    float:right
}
.body{
	width:100%;
	height:500px;
	background-image:url(../img/body.jpeg);
	font-family: 'Ubuntu', sans-serif;
    margin-left:0px;
	border:1px solid black;
	grid-area:body;
}
.bodycontent{
	margin-top:80px;
	margin-left:150px;
}
.bodycontent>span{
	font-size:60px;
	letter-spacing:1px;
	color:orange;
	margin-left:0px;
}
.bodycontent>pre{
	font-size:20px;
	color:white;
	margin-left:px;
}
.bodycontent>button{
	height:40px;
	width:100px;
	background-color:blue;
	border-radius:20px;
	border:1px solid blue;
	margin-left:20px;
}
.main{
	height:1200px;
	background-image:url('https://github.com/shrunkhala11/projectone/blob/main/img/main.jpeg');
	
	grid-area:main;
}
.main-1{
	height:200px;
}
.main-3{
	height:200px;
}
.main-3>aside{
    height:200px;
	width:20px;
	float:left;
}
.main-3>article{
	height:200px;
	width:700px;
}
.main-3>.article>h1{
	font-size:40px;
	color:orange;

}
.main-3>.article>pre{
	font-size:40px;
	color:orange;

}
.main-3>aside>img{
	height:25px;
	width:25px;
	float:right;
}
.main-3>p{
	font-size:20px;
	color:black;
}
.aside{
	height:200px;
	width:20%;
	float:left;
}
.article{
	height:200px;
	width:80%;
}
.aside>img{
	float:right;
}
.article>p{
	font-size:20px;
}
.main-2>button{
	color:orange;
	margin-left:600px;
	height:50px;
	width:20%px;
	background-color:white;
	border:2px solid orange;
	border-radius:25px;
}
.aside-1{
	height:200px;
	grid-area:aside;
}
.asidebox{
	margin-left:500px;
}
.asidebox>img{
	height:30px;
	width:30px;
	float:left;
}
.asidebox>h2{
	color:orange;
}
.aside-1>pre{
	font-size:15px;
	margin-left:100px;
}
.section{
	height:600px;
	grid-area:section;
}
.section>img{
	margin-left:180px;
}
.section-1{
	height:800px;
	background-color:orange;
	grid-area:section-1;
	position:relative;
	
}
.sectionbox{
	height:50px;
	margin-left:500px;

}
.sectionbox>img{
	height:30px;
	width:30px;
	float:left;
}
.sectionbox>h2{
	color:white;
	font-size:32px
}
.section-1>p{
	font-size:22px;
	font-variant:10px;
	margin-left:170px;
	color:white;
}
.sectionimg>h1{
	color:white;
	text-align:center;
    margin-top:300px;	
}

.sectionimg1>h1{
	color:white;
	text-align:center;
    	
}
.sectionimg2>h1{
	color:white;
	
	text-align:center;
    	
}
.sectionimg{
	height:390px;
	width:380px;
	float:left;
	margin-left:90px;
	margin-top:15px;

}
.sectionimg>.box{
	height:50px;
	width:370px;
	background-color:blue;
    border:1px solid black;
}
.boximg{
	height:300px;
	width:350px;
	margin-left:10px;
	background-image:url('https://github.com/shrunkhala11/projectone/blob/main/img/project_img1.jpg');
 border:1px solid black;	
 position:absolute;
	top:170px;
	z-index:2;
}
.boximg>img{
	height:300px;
	width:350px;
}
.sectionimg1{
	height:390px;
	width:380px;
	float:left;
	margin-left:20px;
}

.sectionimg1>.box{
	height:50px;
	width:370px;
	margin-top:300px;
	background-color:blue;
    border:1px solid black;
}
.section1>.boximg{
	margin-top:20px;
}
.sectionimg1>img{
	margin-top:90px;
}
.sectionimg2{
	height:390px;
	width:380px;
	float:left;
	margin-left:20px
}
.sectionimg2>.box{
	height:50px;
	width:370px;
	background-color:blue;
    border:1px solid black;
}
.sectionimg2>h1{
	color:white;
	text-align:center;
    margin-top:300px;	
}
.section-1>div>button{
	height:50px;
	width:100px;
	margin-top:170px;
	margin-left:130px;
	background-color:orange;
	border:2px solid white;
	border-radius:25px;
	color:white;
}
.section-2{
	height:400px;
	grid-area:section-2;
}
.sectionbox2{
	height:80px;
margin-left:500px;
}
.sectionbox2>img{
	height:35px;
	width:25px;
	float:left;
}
.sectionbox2>h2{
	color:black;
	font-size:36px;
	font-variant:10px
}
.side>img{
margin-left:530px
}
.side>pre{
	font-size:18px;
	margin-left:150px;
}	
.footer{
	height:550px;
	grid-area:footer;
}
.footer1{
	height:550px;
	width:50%;
	background-color:blue;
	float:left;
}
.footer1>h1,form{
	margin-left:150px;
}
.footer1>h1{
	font-size:40px;
	color:white
}
.footer1>form{
	font-size:20px;
	color:white;
}
form>input{
	width:80%;
	background-color:blue;
	border-top:none;
	border-left:none;
	border-right:none;

}
form>button{
	height:50px;
	width:170px;
	margin-left:50px;
	background-color:orange;
	color:white;
	border:none;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	-o-border-radius:25px;
}
.footer2{
	height:550px;
	width:50%;
	margin-left:50%;
}
iframe{
	height:550px;
	width:99%;
}
.footer3{
	height:500px;
	background-color:black;
	grid-area:footer3;
}
.footer3-1{
	height:350px;
	width:35%;
	float:left;
	margin-top:30px;
	margin-left:15px;	
}
.footer3-1>img{
	margin-left:40px;
}
.footer3-1>p{
	font-size:22px;
	color:white;
	margin-left:40px;
}


.footer3-2{
height:350px;
	width:25%;
     float:left;
	 margin-top:30px;

}
.footer3-2>h2{
	color:white;
	font-size:32px;
	margin-left:20px;
}
.footer3-2>a{
	display:block;
	color:white;
	font-size:18px;
	margin:5px;
	text-decoration:none;
	margin-left:30px;
}
.footer3-3{
	height:350px;
	width:35%;
	float:left;
	margin-top:30px;
}
.footer3-3>h2{
	color:white;
	font-size:32px;
	margin-left:20px;
}
.footer3-3>span>img{
	height:40px;
	width:40px;
	border-radius:120%;
	float:left;
	-webkit-border-radius:120%;
	-moz-border-radius:120%;
	-ms-border-radius:120%;
	-o-border-radius:120%;
}
.footer3-3>span>pre{
	font-size:18px;
	color:white;
	margin-top: 10px;
}
.footer4>h1{
	font-size:36px;
	color:white;
	margin-left:40px;
	float:left;
}
.footer4>input{
	height:50px;
	width:40%;
	margin-left:200px;
	border-radius:25px;
	background-color:white;
}
.footer4>button{
	height:48px;
	width:100px;
	border-radius:25px;
	background-color:orange;
	color:white;
}
